<!-- src/app/login/login.component.html -->
<div class="login-container">

  <mat-card>
    <mat-card-title>Autenticação</mat-card-title>
    <mat-card-content>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="fill">
          <mat-label>E-mail</mat-label>
          <input matInput formControlName="email" placeholder="Informe seu e-mail">
          <mat-error *ngIf="loginForm?.get('email')?.invalid && loginForm?.get('email')?.touched">
            Informe um endereço de e-mail válido
          </mat-error>
        </mat-form-field>
    
        <mat-form-field appearance="fill">
          <mat-label>Senha</mat-label>
          <input matInput type="password" formControlName="password" placeholder="Informe sua senha">
          <mat-error *ngIf="loginForm?.get('password')?.invalid && loginForm?.get('password')?.touched">
            Senha é obrigatória
          </mat-error>
        </mat-form-field>
    
        <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid">Login</button>

        <div *ngIf="error" class="error-message">Erro na autenticação</div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
  