/* src/app/login/login.component.css */
.login-container {
    margin: 0 auto;
    padding: 1em;


    & form {
        display: flex;
        width: 100%;
        flex-direction: column;
        gap: 15px;
    }
  }

  input.ng-touched.ng-invalid {
    border: 1px solid red;
  }

  input.ng-touched.ng-valid {
    border: 1px solid green;
  }

  .error-message {
    color: red;
    margin-top: 1em;
  }

  mat-card {
    max-width: 500px;
    margin: 2rem auto;
    padding: 2rem;
    gap: 15px;
    background-color: #ebe0b3;
  }

  mat-form-field {
    width: 100%;
    margin-bottom: 10px;
  }

  button {
    width: 100%;
  }

  .login-actions {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .login-register {
    width: 50%;
  }
